        .checkout_table {
            border: 1px solid #cccccc;
            padding: 10px;
            width: 100%;
        }

        .productImage {
            width: 60px;
        }

        th {
            min-width: 80px;
            vertical-align: top;
            text-align: left;
            padding: 5px;
        }

        .td {
            min-width: 80px;
            vertical-align: top;
            text-align: left;
            padding: 5px;
        }

        #PlaceholderMain_updateCart img {
            width: 30px;
        }

        #PlaceholderMain_removeCart img {
            width: 30px;
        }

        .QuantityTextbox {
            width: 50px;    
        }

        input[type=text] {
            padding: 5px;
            height: 20px;
            width: 40px;
            background-color: white;
        }

        .checkout_label {
            display: inline;
        }

        .checkout_product_data {
            vertical-align: top;
        }

        .checkout_table_img_width {
            width: 50px;
        }