body{
    font-size:14px;
    font-style:normal;
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
}

.errorDiv {
    background-color: white;
    text-align: center;
}

    .errorDiv img {
        padding-right: 100px;
    }
