body{
    font-size:14px;
    font-style:normal;
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
}

.parallax-window {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-filter: blur(100%); /* Chrome, Safari, Opera */
    filter: blur(100%);
    padding: 20px;
    min-height: 520px;
}

.parallax-window h1 {
    text-align: center;
    margin-bottom: 30px;
}

.parallax-window img {
    width: 200px;
    display: block;
}

.parallax-window input[type="submit"] {
    display: block;    
}

#PlaceholderMain_TitlePop1 {
    display: block;
}

#PlaceholderMain_TitlePop2 {
    display: block;
}

#PlaceholderMain_TitlePop3 {
    display: block;
}

#PlaceholderMain_OriginalPricePop1 {
    font-weight: 700;    
}

#PlaceholderMain_OriginalPricePop2 {
    font-weight: 700;    
}

#PlaceholderMain_OriginalPricePop3 {
    font-weight: 700;    
}

#ads img {
    width: 100px;
    display: block;
    margin: 0 auto;
}

#ads {
    width: 200px;
}

.adDiscountPrice {
    display: inline-block;
    background-color: transparent;
    padding: 0 5px;
    font-weight: bold;
    color: #FF0000;
    margin-bottom: 5px;  
}

.adOriginalPrice {
    display: inline-block;    
}

.adTitle {
    display: block;    
}

#PlaceholderMain_TitleAd1, #PlaceholderMain_TitleAd2 {
    display: block;    
}

.adImage button {
    display: block;
    margin: 0 auto 5px;
}

.hero-unit {
    width: 900px;    
    padding: 1px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-color: #ffffff;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}

.auto-style3 {
    width: 1200px;
    height: 315px;
}

/* BOOTSTRAP OVERRIDE */

input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  top: 0px;
  left: 0px;
  height: 35px;
  width: 100px;
  margin-bottom: 10px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
    border-radius: 15px;
}

.carousel-caption {
    right: 0%;
    left: 0%;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 30px;
}

.carousel-caption h3 {
    font-size: 35px;
}

.carousel-indicators {
    height: 20px;
    margin: 0 auto;
    padding-top: 20px;
}

.carousel-control {
    position: absolute;
    top: 220px;
    height: 70px;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    border: 0px;
}

.col-md-4, .col-sm-4 {
    text-align: center;
}

.col-md-4, .col-sm-4 img {
    text-align: center;
    margin: 0 auto;
}

input[type="submit"] {
  -webkit-appearance: button;
  top: 0px;
  left: 0px;
  height: 35px;
  width: 100px;
  margin: 0 auto 10px;
}

.btn {
    display: block;
}