footer > div{
    display: inline-block;
    width:33%;
}

footer{
    background-color: #eeeeee;
    
}
ul{
    list-style: none;
}
#Policy , #Contact, #socialMedia{
    text-align:center;
}
#FotterImages, a{
    margin:10px;
}



