footer > div{
    display: inline-block;
    width:33%;
}

footer{
    background-color: #eeeeee;
    margin-top: 10px;
}

#MainFooter {
    height: 100px;
}

#FooterImages img {
    width: 50px;
}

ul{
    list-style: none;
}
#Policy , #Contact, #socialMedia{
    text-align:center;
}
#FotterImages, a{
    margin:10px;
}



