body {
    background-color: #ffffff;
}

header nav ul li {
    display: inline;
}

label {
    margin: 20px;
}

a {
    color: blue;
}

footer {
    text-align: center;
}
#SearchArea {
    /*width: 500px;*/
    margin: 0 auto;
    padding: 10px;
    text-align: right;
}

#SearchBox {
    /*display: inline;*/
    height: 40px;
    width: 160px;
}

#SearchButton {
    height: 40px;
    width: 82px;
    text-align: center;
}

#ads {
    background-color: aqua;
}

#LinkLegal {
    color: red;
}

#LinkPolicy {
    color: green;
}


