footer {
    margin-top: 10px;
}

#MainFooter {
    height: 150px;
}

#MainFooter img {
        width: 30px;
}

#MainFooter, a{
    margin: 10px;
}

ul{
    list-style: none;
}

#Policy , #Contact, #socialMedia{
    text-align:center;
}