body {
    background-color: ghostwhite;
    color: #000000;
}

.panel{
        display:none;
    }

#SearchArea {
    margin: 0 auto;
    padding: 10px;
    display: inline;
}

#SearchBox {
    width: 280px;
    height: 30px;
    display: inline;
    margin-right: 10px;
}

#SearchButton {
    height: 30px;
    width: 82px;
    display: inline;
    margin-top: 6px;
}

#Search{
    display: inline;
}

#Logon{
    width:1500px;
    height:150px;
}

header nav ul li {
    display: inline;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    /* position: fixed; */
    z-index: 10;
    width: 100%;
    padding: 10px 0 1px;
}

.navbar {*
  position: relative;*
  z-index: 2;
  margin-bottom: 1px !important;
  overflow: visible;
}

.caret {
    vertical-align: top;    
}

label {
    margin: 20px;
}

a {
    color: blue;
}

select {
    width: 150px;
    background-color: #ffffff;
    border: 0;
    padding: 5px 0 0;
}

#CheckoutButton {
    width: 200px;
    margin-right: 20px;    
}

#openCart {
    background-color: #ffffff;
    background-image: url('../images/cart_icon.png');
    background-repeat: no-repeat; 
    border: 0;
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

#openCart:focus {
    display: none;
}

#CartPanel {
    display: none;
    padding: 20px;
}

.cartPanel {
    width: 500px;
    text-align: right;
    height: 300px;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #cccccc;
    z-index: 1; 
    position: absolute; 
    top: 50px;
    right: 80px;
    background-color: rgba(255,255,255, 0.99);
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.cartPanel th {
    text-align: left;
    min-width: 80px;
    vertical-align: top;
    text-align: left;
    padding: 5px;
}

#CartDropDownTableText {
    text-align: left;
    font-size: 18px;
}

#CartCountLabel {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 10px 15px;
    background-color: #f8f8f8;
}

.cartPanel .td {
    min-width: 80px;
    vertical-align: top;
    text-align: left;
    padding: 5px;
}

.productImage {
    width: 50px;    
}

#ads {
    float:right;
}

#LinkLegal {
    color: red;
}

#LinkPolicy {
    color: green;
}

footer {
    text-align: center;
}