body{
    font-size:14px;
    font-style:normal;
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
}

.price_tag {
    background-color: transparent;
    padding: 5px;
    width: 50px;
}

#PlaceholderMain_discountProductPrice {
    color: #ff0000;
}

.original_price_tag {
    text-decoration: line-through;
}

input[type="number"] {
    display: inline-block;
    height: 30px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    width: 116px;
}

.image_placeholder img {
    width: 310px;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    /* position: fixed; */
    z-index: 10;
    width: 100%;
    padding: 10px 0 1px;
}

.caret {
    vertical-align: top;    
}

.navbar {*
  position: relative;*
  z-index: 2;
  margin-bottom: 1px !important;
  overflow: visible;
}

input[type="submit"].btn {
    padding-bottom: 25px;
    width: 100px;
}

/* bootstrap override  */

.col-md-8 {
    background-color: #f8f8f8 !important;
    padding-bottom: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
}