#ReceiptOutput {
    text-align: center;
    border:solid  black 2px;
    width: 550px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding: 30px;
}
body{
    padding: 50px;
}

div > label {
    display: inline-block;
}

th{
    text-align: center;
}
li{
    list-style-type: none;
    text-align: left;
}
#receiptPageButtons {
    clear: both;
    /*text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;*/
}
#receiptPrintButton{
    height: 55px;
    width: 55px;
    background-image: url('../Images/1453917211_print.png');
    background-color: white;
    padding: 0;
    background-repeat: no-repeat;
    margin-top: 10px;
}
table{
    margin-right: auto;
    margin-left: auto;
}