#ReceiptOutput {
    text-align: center;
    border:solid  black 2px;
    width: 550px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding: 30px;
}
body{
    padding: 50px;
}

label {
    
    float: left;
}

div > label {
    display: inline-block;
}

span {
    float: left;
}
th{
    text-align: left;
}
li{
    list-style-type: none;
    text-align: left;
}
span{
    display: block;
}
#receiptPageButtons {
    clear: both;
    /*text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;*/
}
#receiptPrintButton {
    /*background-image: url('../Images/1453917211_print.png');*/
}