.image_thumbnail {
    display: block;
}

.result_product_name {
    display: block;
}

.result_product_price {
    display: block;
}

.result_product_original_price {
    display: block;
    text-decoration: line-through;
}

.result_product_discount_price {
    display: block;
}

.result_product_infobutton {
    display: block;
}

.result_product_container {
    padding: 20px 20px 0 0;
}